.card {
    margin: 1rem;
    border-radius: 20px;
    min-width: 25vw;
    max-width: 25vw;
    min-height: 30vw;
    /* max-height: 30vw; */
    text-align: center;
    justify-content: center;
    color:rgb(63, 63, 65);
    background-color: rgb(247, 241, 233);
    font-family: sans-serif;
    box-shadow: 0 10px 25px rgba(101, 108, 115, 0.2);
}

.title {
    padding-top: 1rem;
}
.titletext {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: none;
    color: rgb(63, 63, 65);

}
.titletext:hover {
    text-decoration: underline;
}

.img {
    width: 200px;
    height: 200px;
    margin-top: 1rem;
    border-radius: 5px;
}

link {
    bottom: 0;
    color:rgb(246, 249, 220);
}