.container {
    margin: auto;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 15px;
    width: 600px;
    height: 400px;
}

.title {
   text-align: center; 
   padding: 2rem;
}

.form {
    padding-left: 3rem;
}

/* .postbutton {
    margin: auto;
    text-align: center; 
} */
