@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
/* font-family: 'Potta One', cursive; */

.container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

*,
  :before,
  :after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .title {
    max-height: 300px;
    text-align: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    /* background-color: rgb(17, 33, 54); */
    color: #fff;

  }
  
  /* Clip text element */
  .cliptext {
    font-size: 22vh;
    font-weight: bold;
    line-height: 0;
    min-height: 280px;
    min-width: 90vw;
    position: relative;
    display: inline-block;
    line-height: 1;
    /* margin:いる？ */
    padding: 0.5em 0.75em;
    text-align: center;
    /* Color fallback */
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .smalltext {
    font-size: small;
  }
  
  .cliptext:before,
  .cliptext:after {
    position: absolute;
    content: "";
  }
  
  /* Background */
  .cliptext:before {
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
  }
  
  /* Text Background (black zone) */
  .cliptext:after {
    position: absolute;
    z-index: -1;
    top: 0.125em;
    right: 0.125em;
    bottom: 0.125em;
    left: 0.125em;
    background-color: rgb(13, 23, 44);
    opacity: 0.8;
  }

/* Change the background position to display letter when the black zone isn't here */
 .cliptext--no-textzone:before {
    background-position: -0.75em 0;
      } 
      
 .cliptext--no-textzone:after {
        content: none;
      }
      
/* Use Background-size cover for photo background and no-repeat background */
    .cliptext--cover,
    .cliptext--cover:before {
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: 50% 50%;
      }
      
    .cliptext {
        background-image: url(https://i.imgur.com/woBZD95.jpeg);
      }

.filtersearch {
    text-align: center;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 3rem;
    }



