.user-profile {
    color: #F9F9F9;
  }
  
  .user-profile-header {
    padding: 10px;
    max-width: 40rem;
    align-items: center;
  }
  
  .profile-pic {
    max-height: 10rem;
    border: 8px solid #F1BE87;
    border-radius: 50%;
  }
  
  .profile-name {
    max-height: 4rem;
    text-transform: capitalize;
  }

  .profile-user {
    max-height: 4rem;
    margin-left: 0rem;
    margin-bottom: -2.5rem;
  }
  
  .user-posts-likes {
    max-height: 4rem;
  }

#insta {
  max-height: 2rem;
  margin-bottom: 2.5rem;
}
  
.user-posts-col-left {
    background-color: #98A89E;
    max-height: 500px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.user-liked-posts-col-right {
    background-color: #649DA6;
    /* color: #F9F9F9; */
}

/* .user-posts-col-left h4, .user-liked-posts-col-right h4 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} */

.post-card {
    max-width: 250px;
    margin-right: 10px;
    padding: 5px 2px 2px 5px;
    /* background-color: #F9F9F9;  */
    justify-content: center;
}

.post-card p {
    color:#F9F9F9;
    font-size: 0.875em;
}

.post-card-title {
    text-transform: uppercase;
    /* color: #F1BE87; */
}

.post-placeholder-img {
    max-width: 10rem;
    /* max-height: 5rem; */
}

.profile-link {
  padding: 0 5px 10px 5px;
  color: #F9F9F9;
  text-decoration: none;
  text-transform: none;
  /* font-family: sans-serif; */
}

.profile-link:hover {
  text-decoration: underline;
}