.container {
    max-width: 80vw;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}
.titlebar { 
    display: table; 
    width: 100%; 
    min-height: 7vh;
    max-height: 7vh;
    background-color:#649DA6; 
}

.username { 
    display: table-cell; 
    text-align: left; 
    font-size: 6vh;
    font-family: sans-serif;
    justify-content: center;
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
}

.companyname {
    display: table-cell; 
    justify-content: center;
 }


.imageswrapper {
    border: solid #649DA6;
    min-width: 90vw;
    max-width: 90vw; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    right: 6%;
    justify-content: center;
    text-align: center;
    position: relative;
}

.images {
    /* min-width: 120%; */
    max-width: 110%;
    display: flex;
    max-height: 220px;
    text-align: center;
    align-items: center;
    position: relative;
}

.discription { 
    display: grid;
    color:#f2eddf;
    grid-template-columns: 30% 70%; 
    grid-template-areas:
    "disc-left disc-right";
}

.dleft { 
    border: solid;
    padding-left: 1rem;
    grid-area: disc-left; 
}

.dright { 
    border: solid;
    padding-left: 1rem;
    grid-area: disc-right; 
}

.commentsandlikes {
    color:#f2eddf;
    display: grid;
    grid-template-columns: 70% 30%; 
    grid-template-areas:
    "commleft commright";
}

.commleft {
    padding-left: 1rem;
    border: solid;
    grid-area: commleft;
}

.commright {
    border: solid;
    padding-left: 1rem;
    grid-area: commright;
}

.editdelete:hover {
    cursor: pointer;
    text-decoration: underline;
 }

 .commentbox {
    padding-left: 1rem;  
    width: 30vw;
 }

 .usercomment {
    border: solid;
 }

.deletebutton:hover {
    cursor: pointer;
    text-decoration: underline;
}
