@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');


.container {
    max-width: 80vw;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}

.titlebar { 
    display: table; 
    width: 100%; 
    min-height: 4vh;
    max-height: 4vh;
    background-color:#649DA6;
    justify-content: center;
}

.username { 
    /* display: table-cell;  */
    text-align: left; 
    padding-left: 1rem;
    font-size: 4vh;
    font-family: 'Lora', serif;
    justify-content: center;
    color:#f2eddf;
    text-decoration: none;
    text-transform: uppercase;
}

.likesheart {
    color:#f2eddf;
    font-size: 3.5vh;
    /* display: table-cell;  */
    float: right;
    margin-right: 1rem;
    /* padding-top: 1rem; */
    justify-content: center;
}
.likesnum {
    color:#f2eddf;
    font-size: 2vh;
    margin-right: 1rem;
    padding-bottom: 0;
    /* display: table-cell;  */
    float: right;
    justify-content: center;

}

.companyname {
    display: table-cell; 
    justify-content: center;
 }


.imageswrapper {
    /* border: solid #649DA6; */
    min-width: 90vw;
    max-width: 90vw; 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    right: 6%;
    justify-content: center;
    text-align: center;
    position: relative;
}

.images {
    /* min-width: 120%; */
    max-width: 110%;
    display: flex;
    max-height: 220px;
    text-align: center;
    align-items: center;
    position: relative;
}

.discription { 
    display: grid;
    color:#f2eddf;
    grid-template-columns: 30% 70%; 
    grid-template-areas:
    "disc-left disc-right";
}

.dleft { 
    border-style: dotted;
    padding-left: 1rem;
    grid-area: disc-left; 
}

.dright { 
    border-style: dotted;
    padding-left: 1rem;
    grid-area: disc-right; 
}

.titletext {
    font-weight: bold;
    text-decoration: underline;
}

.commentsandlikes {
    color:#f2eddf;
    display: grid;
    grid-template-columns: 70% 30%; 
    grid-template-areas:
    "commleft commright";
}

.commleft {
    padding-left: 1rem;
    border-style: dotted;
    grid-area: commleft;
}

.commright {
    border-style: dotted;
    padding-left: 1rem;
    grid-area: commright;
}

.editdelete:hover {
    cursor: pointer;
    text-decoration: underline;
 }

 .commentbox {
    padding-left: 1rem;  
    width: 30vw;
 }

 .usercomment {
    border-style: dotted;
 }

.deletebutton:hover {
    cursor: pointer;
    text-decoration: underline;
}

.message {
    font-size: small;
    color: rgb(173, 43, 43);
}
