html {
  max-width: 90ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

a {
  display: inline-block;
  padding: 0 5px 10px 5px;
  color: #1d1d1d;
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
}

/* profile page css */
.user-profile {
  background-color: #F9F9F9;
}

.user-profile-header {
  padding: 10px;
  max-width: 40rem;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 30% 70%;
}

.profile-pic {
  max-height: 10rem;
  border: 8px solid #F1BE87;
  border-radius: 50%;
}
