
html {
  /* padding: 3em 1em; */
  margin: auto;
  /* line-height: 1.75;
  font-size: 1.25em; */
}

body {
background-color: rgb(13, 23, 44, 0.88);
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

/* ul,ol {
  color: #1d1d1d;
  font-family: sans-serif;
} */


